# Backend 
parfumeryproject/target/ 
parfumeryproject/.idea/ 
parfumeryproject/*.iml 
parfumeryproject/nbproject/ 
parfumeryproject/src/main/resources/application.properties 

# Frontend 
parfumeryfront/node_modules/ 
parfumeryfront/.env 
parfumeryfront/build/ 
perfumeryfront/dist/

# OS 
.DS_Store 
Thumbs.db 
